
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#mainimg{
    height: 850px;
    width: 1518px;
    position: absolute;
    z-index: -999;
}

#mainBody{
    display: flex;
    justify-content: center;
    /* margin-top: 10px; */
}

#mainBody h1{
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 50px;
    margin-top: 30px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7DBBAB;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#navMenu{
   display: flex;
   /* border: 2px solid red; */
   justify-content: space-between;
   gap: 70px;
}

#navMenu a{
    color: white;
    text-decoration: none;
    font-size: larger;
}

#navMenu a:hover{
    color: #ffca1a;
}

#signInbtn button{
    width: 100px;
    height: 40px;
    font-size: larger;
    background-color: #FFD75A;
    border-radius: 25px;
    border: none;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#text p{
    margin-top: 40px;
    font-size: 23px;
    color: white;
}

#text{
    text-align: center;
}

#text button{
    width: 170px;
    height: 50px;
    font-size: larger;
    background-color: #FFD75A;
    border-radius: 25px;
    border: none;
    font-weight: 700;
    margin-top: 60px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#text button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#midBody{
    text-align: center;
    font-size: larger;
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
    margin-top: 530px;
    gap: 10px;
}

#midBody h1{
    margin-bottom: 15px;
}

#iconCont{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#iconCont p{
    margin-top: 10px;
}

#iconCont h4{
    margin-top: 5px;
}

#iconCont img{
    width: 100px;
    height: 100px;
}

#servicesSec{
    /* border: 2px solid red; */
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

#serviceIcon img{
    width: 100px;
    height: 100px;
}

#serviceIcon{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

#serviceIcon div{
    /* border: 2px solid blueviolet; */
    width: 89%;
    margin: auto;
    margin-top: 15px;
    background-color: rgb(241, 241, 241);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
    border-radius: 5px;
}

footer{
    margin-top: 20px;
    background-color: #13162f;
    display: flex;
    justify-content: space-around;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 30px;
}

#footerRight img{
    width: 30px;
    height: 30px;
}

#footerRight div{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

footer span{
    text-decoration: underline;
}

#footerSec a{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

#footerMidSec img{
    width: 30px;
    height: 30px;
}

#footerMidSec div{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#copyright{
    text-align: center;
    background-color: #13162f;
    padding-bottom: 15px;
    color: white;
}