  /* nav */
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4e9890;
    position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  }

  #navMenu {
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    gap: 70px;
  }

  #navMenu a {
    color: white;
    text-decoration: none;
    font-size: larger;
    padding: 10px;
    font-weight: 600;
  }

  #navMenu a:hover {
    /* color: #ffca1a; */
    color: #4e9890;
    background: white;
    border-radius: 4px;
  }

  #signInbtn a {
    font-size: larger;
    background-color: #ffd75a;
    border-radius: 25px;
    border: none;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    text-decoration: none;
    padding: 5px 10px;
    color: black;
  }

  /* nav */

  /* footer starting*/

  footer {
    margin-top: 20px;
    background-color: #13162f;
    display: flex;
    justify-content: space-around;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 30px;
  }

  #footerRight img {
    width: 30px;
    height: 30px;
  }

  #footerRight div {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  footer span {
    text-decoration: underline;
  }

  #footerSec a {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: white;
    text-decoration: none;
  }

  #footerMidSec img {
    width: 30px;
    height: 30px;
  }

  #footerMidSec div {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  #copyright {
    text-align: center;
    background-color: #ffd75a;
    color: black;
    padding: 5px;
    font-weight: bold;
  }

  /* para */
  #para{
    margin-top: 5%;
    /* border: 2px solid red; */
    width: 75%;
   margin-left: 10%;
   margin-right: 10%;
    font-size:larger;
    padding: 1%;
    text-align: justify;
  }