
body {
  margin: 0;
}

body, button, input {
  font-family: Nunito;
}

* {
  box-sizing: border-box;
  transition: 0.4s ease all;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.navbar {
  background:#7DBBAB;
  color: #fff;
  padding: 15px;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
}

.navbar .logo {
  cursor: pointer;
  font-family:cursive;
}

.navbar ul.links {
  margin-left: auto;
  margin-right: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  transition: 0.4s ease all, 0s ease background;
}
.navbar ul.links li {
  text-transform: uppercase;
  padding: 0 15px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease all, 0s ease margin;
}
.navbar ul.links li a {
  text-decoration: none;
  color: #fff;
}
.navbar ul.links li:hover {
  background: #ffc600;
  cursor: pointer;
}
.navbar ul.links li:hover a {
  color: #080808;
}

button {
  background: #ffc600;
  outline: none;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 25px;
  border: 1px solid #e6b200;
  letter-spacing: 1px;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: white;
  background: #222222;
  border-color: black;
}



.navbar.sticky {
  position: fixed;
  z-index: 40;
}
.navbar.sticky ~ main {
  position: relative;
  z-index: 20;
  top: 65px;
}



@media screen and (max-width: 750px) {
  .navbar .right {
    height: 0;
    overflow: hidden;
  }

  .toggle {
    position: absolute;
    top: 32.5px;
    right: 20px;
    z-index: 99;
    transform: translateY(-50%);
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .toggle > * {
    width: 80%;
    height: 2px;
    background: #fff;
    margin: 3px 0;
  }

  .navbar.collapsed .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .navbar.collapsed .toggle .line2 {
    opacity: 0;
  }
  .navbar.collapsed .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .navbar.collapsed .logo {
    position: absolute;
    z-index: 44;
  }

  .navbar .links {
    position: fixed;
    background: #080808;
    z-index: 40;
    top: 0;
    left: -100%;
    flex-direction: column;
    width: 45vw;
    height: 100vh;
  }
  .navbar .links li:first-child {
    margin-top: 80px;
  }

  .navbar.collapsed .links {
    left: 0;
  }
  .navbar.collapsed .links a {
    color: #fff;
  }
  .navbar.collapsed .links li {
    width: 100%;
  }
  .navbar.collapsed .links li:hover a {
    color: #080808;
  }

  .navbar.collapsed .right {
    position: fixed;
    width: 45vw;
    text-align: center;
    height: auto;
    bottom: 40px;
    left: 22.5vw;
    transform: translateX(-50%);
    z-index: 45;
  }

  .navbar.collapsed ~ main {
    filter: blur(1px);
    opacity: 0.8;
  }

  .navbar.sticky {
    position: fixed;
    z-index: 40;
  }
}

/* table */

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  table * {
    position: relative;
  }
  table td, table th {
    padding-left: 8px;
  }
  table thead tr {
    height: 60px;
    background: #FFED86;
    font-size: 16px;
  }
  table tbody tr {
    height: 48px;
    border-bottom: 1px solid #E3F1D5;
  }
  table tbody tr:last-child {
    border: 0;
  }
  table td, table th {
    text-align: left;
  }
  table td.l, table th.l {
    text-align: right;
  }
  table td.c, table th.c {
    text-align: center;
  }
  table td.r, table th.r {
    text-align: center;
  }
  
  @media screen and (max-width: 35.5em) {
    table {
      display: block;
    }
    table > *, table tr, table td, table th {
      display: block;
    }
    table thead {
      display: none;
    }
    table tbody tr {
      height: auto;
      padding: 8px 0;
    }
    table tbody tr td {
      padding-left: 45%;
      margin-bottom: 12px;
    }
    table tbody tr td:last-child {
      margin-bottom: 0;
    }
    table tbody tr td:before {
      position: absolute;
      font-weight: 700;
      width: 40%;
      left: 10px;
      top: 0;
    }
    table tbody tr td:nth-child(1):before {
      content: "Code";
    }
    table tbody tr td:nth-child(2):before {
      content: "Stock";
    }
    table tbody tr td:nth-child(3):before {
      content: "Cap";
    }
    table tbody tr td:nth-child(4):before {
      content: "Inch";
    }
    table tbody tr td:nth-child(5):before {
      content: "Box Type";
    }
  }
  